@inject IStringLocalizer<AccountController>  _localizer;
@inject IFileService _fileService;
@inject IClubDescriptor _clubDescriptor;
@inject IRequestService _requestService;

@model PageViewModel<LoginFormVM>
@{
    var VM = Model.ViewModel;
}

<div class="row margin-top-medium">
    <div class="col-sm-4 hidden-xs">
        <section>
            <img class="big-logo" src="@_fileService.GetHtmlPath(SiteResources.SquareLogo)" />
        </section>
    </div>
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <section>
            <div>
                <form method="post" asp-controller="Account" asp-action="LoginForm" asp-route-lang="@_requestService.CurrentLanguage">
                    <h4>@_localizer["LoginTitle", _clubDescriptor.DisplayName]</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="returnUrl" value="@VM.ReturnUrl" />
                    <div class="form-group">
                        <label asp-for="@VM.Login">@_localizer["LoginEmail"]</label>
                        <input asp-for="@VM.Login" class="form-control" id="Login" name="Login" />
                        <span asp-validation-for="@VM.Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@VM.Password">@_localizer["Password"]</label>
                        <input asp-for="@VM.Password" class="form-control" id="Password" name="Password" />
                        <span asp-validation-for="@VM.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="@VM.RememberMe">
                                <input asp-for="@VM.RememberMe" id="RememberMe" name="RememberMe"  />
                                @_localizer["RememberMe"]
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">@_localizer["Login"]</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a asp-controller="Account" asp-action="ForgotPassword" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["PasswordForgotten"]</a>
                        </p>
                        <p>
                            <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@VM.ReturnUrl" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["RegisterNewUser"]</a>
                        </p>
                    </div>
                </form>
            </div>
            <div>

                @{
                    if ((VM.ExternalLogins?.Count ?? 0) > 0)
                    {
                        <form asp-page="./ExternalLogin" asp-route-returnUrl="@VM.ReturnUrl" asp-route-lang="@_requestService.CurrentLanguage" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in VM.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>

        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
