@inject IStringLocalizer<AccountController>  _localizer;
@inject IFileService _fileService;
@inject IClubDescriptor _clubDescriptor;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model PageViewModel<RegisterFormVM>
@{
    var VM = Model.ViewModel;
}

<div class="row ">
    <div class="col-sm-4 hidden-xs">
        <section>
            <img class="big-logo" src="@_fileService.GetHtmlPath(SiteResources.SquareLogo)" />
        </section>
    </div>
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <section>
            <div>
                <form method="post">
                    <h4>@_localizer["RegisterTitle", _clubDescriptor.DisplayName]</h4>
                    <hr />
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="form-group">
                        <label asp-for="@VM.Email">@_localizer["Email"]</label>
                        <input asp-for="@VM.Email" class="form-control" />
                        <span asp-validation-for="@VM.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@VM.Password">@_localizer["Password"]</label>
                        <input asp-for="@VM.Password" class="form-control" />
                        <span asp-validation-for="@VM.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@VM.ConfirmationPassword">@_localizer["ConfirmPassword"]</label>
                        <input asp-for="@VM.ConfirmationPassword" class="form-control" />
                        <span asp-validation-for="@VM.ConfirmationPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <partial name="_ReCaptcha" />
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">@_localizer["Register"]</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
