@inject IStringLocalizer<AccountController>  _localizer;
@inject IFileService _fileService;
@inject IClubDescriptor _clubDescriptor;
@inject IRequestService _requestService;

@model PageViewModel<ChangePasswordFormVM>
@{
    var VM = Model.ViewModel;
}

<div class="row margin-top-medium">
    <div class="col-sm-4 hidden-xs">
        <section>
            <img class="big-logo img-responsive" src="@_fileService.GetHtmlPath(SiteResources.SquareLogo)" />
        </section>
    </div>
    <div class="col-sm-4 col-sm-offset-2 col-xs-12">
        <section>
            <div>
                <form method="post" asp-controller="Account" asp-action="ResetPassword" asp-route-lang="@_requestService.CurrentLanguage"
                      class="form-horizontal">
                    <h4>@_localizer["ForgottenPassword", _clubDescriptor.DisplayName]</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" value="@VM.ResetToken" name="ResetToken" />
                    <input type="hidden" value="@VM.Email" name="Email" />
                    <div class="form-group has-feedback">
                        <label asp-for="@VM.NewPassword" class="control-label">@_localizer["NewPassword"]</label>
                        <input asp-for="@VM.NewPassword" class="form-control" name="NewPassword" />
                    </div>
                    <div class="form-group has-feedback">
                        <label asp-for="@VM.ConfirmationPassword" class="control-label">@_localizer["ConfirmationPassword"]</label>
                        <input asp-for="@VM.ConfirmationPassword" class="form-control" name="ConfirmationPassword" />
                    </div>
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default">@_localizer["ResetPassword"]</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
