@using ClubNet.WebSite.BusinessLayer.Contracts;
@inject IThemeBL themeBL
@{

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <partial name="_LayoutCSS" />
    @await Html.PartialAsync($"_LayoutCSS_{themeBL.CurrentThemeName}")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <partial name="_Brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <partial name="_MenuMain" />

                <ul class="nav navbar-nav navbar-right">

                    <partial name="_LangSelector" />
                    <partial name="_MenuLogin" />

                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container">

        @{
            if (ViewData.ContainsKey("Messages"))
            {
                var messages = (IEnumerable<MessageViewModel>)ViewData["Messages"];
                if (messages.Any())
                {

                    @Html.Raw("<div class='messages-panel'>")
                    foreach (var message in messages)
                    {
                        @await Html.PartialAsync("_Message", message);
                    }
                    @Html.Raw("</div>")
                }
            }
        }

        <div class="body-content">
            @RenderBody()
        </div>
        <hr />
        <partial name="_Footer.cshtml" />
    </div>

    <partial name="_LayoutJS" />
    @await Html.PartialAsync($"_LayoutJS_{themeBL.CurrentThemeName}")

    @RenderSection("Scripts", required: false)
    @Html.RenderScripts()

</body>
</html>
