@using Microsoft.AspNetCore.Identity
@using ClubNet.WebSite.Domain.User;
@using ClubNet.WebSite.Controllers;
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<AccountController>  _localizer;

@inject SignInManager<UserInfo> _signInManager
@inject UserManager<UserInfo> _userManager
@inject IRequestService _requestService;

@if (_signInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Manage">Hello @_userManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@_localizer.GetString("Logout")</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" asp-route-lang="@_requestService.CurrentLanguage" >@_localizer["Register"]</a></li>
        <li><a asp-controller="Account" asp-action="Login" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["Login"]</a></li>
    </ul>
}