@using Microsoft.AspNetCore.Identity
@using ClubNet.WebSite.Domain.User;
@using ClubNet.WebSite.Controllers;
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer<AccountController>  _localizer;

@inject SignInManager<UserInfo> _signInManager
@inject UserManager<UserInfo> _userManager
@inject IRequestService _requestService;

@if (_signInManager.IsSignedIn(User))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@_userManager.GetUserName(User) <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a asp-controller="User" asp-action="Index" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["Dashboard"]</a></li>
            <li><a asp-controller="Account" asp-action="Logout" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["Logout"]</a></li>
        </ul>
    </li>
}
else
{
    <li><a asp-controller="Account" asp-action="Register" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["Register"]</a></li>
    <li><a asp-controller="Account" asp-action="Login" asp-route-lang="@_requestService.CurrentLanguage">@_localizer["Login"]</a></li>
}
